<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aman</title>
    <link rel="icon" href="/img/profile-image.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Wittgenstein&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <%- include('./profile.ejs') %>
    
    <div class="content">
        <section id="home" class="section">
            <%- include('./index.ejs') %>
        </section>
        <section id="about" class="section">
            <%- include('./about.ejs') %>
        </section>
        <section id="resume" class="section">
            <%- include('./resume.ejs') %>
        </section>
        <section id="portfolio" class="section">
            <%- include('./portfolio.ejs') %>
        </section>
        <section id="contact" class="section">
            <%- include('./contact.ejs') %>
        </section>
    </div>
    <a href="#home" class="round-button gotohome "><i class="fa-solid fa-arrow-up" ></i></a>

    <script src="/js/script.js"></script>
</body>
</html>
